/* You can add global styles to this file, and also import other style files */

$materialFontSize:14px;
$materialLineHeight:24px;
$barBackground:#fff;
@function rem($size) {
  @return $size / $materialFontSize * 1rem;
}

#app-roll20-rolls {
  background-color: $barBackground;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  max-width: 100%;
  width: 100%;
  min-height: rem(32px);
  max-height: rem(69px);
  display: block;
  clear: both;
  box-sizing: border-box;
  padding: rem(5px) 0 rem(5px) 0;
}
