/* You can add global styles to this file, and also import other style files */

$materialFontSize:14px;
$materialLineHeight:24px;
$barBackground:#fff;
@function rem($size) {
  @return $size / $materialFontSize * 1rem;
}
